<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <%= link_to (t ".dashboard"), root_path %>
  </li>
  <li class="breadcrumb-item active"><%= link_to (t ".subject_list"), admin_subjects_path %></li>
  <li class="breadcrumb-item active"><%= link_to (t ".show"), admin_subject_path %></li>
  <li class="breadcrumb-item active"><%= (t ".edit") %></li>
</ol>

<%= render :partial => "form" %>
<p>
  <%= link_to t("admin.subjects.new.show"), [:admin, @subject], class: "btn btn-success" %>
  <%= link_to t("admin.subjects.new.view_all"), admin_subjects_path, class: "btn btn-info" %>
</p>
