<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <%= link_to (t "admin.subjects.index.dashboard"), root_path %>
  </li>
  <li class="breadcrumb-item active"><%= t "admin.subjects.index.subject_list" %></li>
</ol>

<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-table"></i> <%= t"layouts.header.all_subjects" %>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th><%= t "admin.subjects.index.subject_name" %></th>
            <th class="center"><%= t "admin.subjects.index.action" %></th>
          </tr>
        </thead>
        <tbody>
          <%= render @subjects %>
        </tbody>
      </table>
    </div>
      <p><%= will_paginate @subjects %></p>
      <p><%= link_to (t "admin.subjects.index.new_subject"), new_admin_subject_path, class: "btn btn-primary" %></p>
  </div>
</div>
