<div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header"><%= t "devise.passwords.new.ResetPw" %></div>
      <div class="card-body">
        <div class="text-center mt-4 mb-5">
          <h4><%= t "devise.passwords.new.Forgotpw" %></h4>
          <p>Enter your email address and we will send you instructions on how to reset your password.</p>
        </div>
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form-control",
              id: "exampleInputEmail1", placeholder: (t "devise.passwords.new.EnterEmail") %>
          </div>
          <%= f.submit (t "devise.passwords.new.ResetPw"), class: "btn btn-primary btn-block" %>
        <% end %>
        <div class="text-center">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
