<ol class="breadcrumb">
  <li class="breadcrumb-item active"><%= link_to (t "trainees.my_course"), trainee_root_path %></li>
  <li class="breadcrumb-item active"><%= (t "trainees.subject_in_course") %></li>
</ol>

<form class="form-horizontal">
  <div class="card mb-3">
    <div class="card-header">
      <i class="fa fa-table"></i><%= t "admin.subjects.new.subject_list" %></div>
    <div class="card-body">
      <table class="table table-hover">
        <thead class="thead-inverse">
        <tr>
          <th class="text-center"><%= t "admin.subjects.index.subject_name" %></th>
          <th class="text-center"><%= t "trainees.status" %></th>
        </tr>
        </thead>
        <tfoot>
        <tbody>
        <%= render "my_subject" %>
        </tbody>
      </table>
    </div>
  </div>
</form>
