<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <%= link_to (t "views.layouts.header.dashboard"), root_path %>
  </li>
  <li class="breadcrumb-item active"><%= t "views.subjects.new.subject_list" %></li>
</ol>

<table class="table table-hover">
  <thead>
  <tr>
    <td><%= t "views.subjects.new.subject_name" %></th>
    <td></th>
    <td><%= t "views.subjects.new.action" %></th>
    <td></th>
  </tr>
  </thead>
    <tbody>
    <%= render @subjects %>
  </tbody>
</table>

<p><%= will_paginate @subjects %></p>
<p><%= link_to (t "views.subjects.new.new_subject"), new_subject_path, class: "btn btn-success" %></p>
