<h1 class="center"><%= t ".all-courses" %></h1>
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <td><%= t "course.new.start_date" %></td>
        <td><%= t "course.new.course_name" %></td>
        <td><%= t ".trainee_number" %></td>
        <td><%= t "course.new.end_date" %></td>
      </tr>
    </thead>
    <tbody>
      <%= render @courses %>
    </tbody>
  </table>
</div>
