<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <%= link_to (t "admin.users.index.dashboard"), root_path %>
  </li>
  <li class="breadcrumb-item active"><%= t "admin.users.index.users" %></li>
</ol>

<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-table"></i> <%= t"layouts.header.all_users" %>
  </div>
  <div class="">
    <%= form_tag admin_users_path, method: "get" do %>
      <%= text_field_tag :name, params[:name], class: "col-lg-3" , placeholder: "Search Name" %>
      <%= submit_tag "Search", class: "btn" %>
    <% end %>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th><%= t"admin.users.index.email" %></th>
            <th><%= t"admin.users.index.role" %></th>
            <th><%=  t"admin.users.index.action"%></th>
          </tr>
        </thead>
        <tbody>
          <%= render @users %>
        </tbody>
      </table>
    </div>
    <p><%= will_paginate @users %></p>
    <%= link_to (t"admin.users.index.create_user"), new_admin_user_url, class: "btn btn-success" %>
  </div>
</div>
