  <div class="table-responsive">
    <h3><%= t ".trainers_on_course" %></h3>
    <table class="table table-bordered">
      <thead>
        <th><%= t"admin.users.index.email" %></th>
        <th><%= t"admin.users.index.role" %></th>
      </thead>
      <tbody>
        <% @course.users.trainer.each do |trainer| %>
          <tr>
            <td><%= link_to trainer.email, "#" %></td>
            <td><%= trainer.role %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
