<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <%= link_to (t ".dashboard"), root_path %>
  </li>
  <li class="breadcrumb-item active"><%= link_to (t ".courses"), admin_courses_path %></li>

</ol>
<div class="col-md-8">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="subjects-tab" data-toggle="tab" href="#subjects"
        role="tab" aria-controls="subjects" aria-selected="true">
        <%= t ".subjects" %>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="trainees-tab" data-toggle="tab" href="#trainees"
        role="tab" aria-controls="trainees" aria-selected="false">
        <%= t ".trainees" %>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="trainers-tab" data-toggle="tab" href="#trainers"
        role="tab" aria-controls="trainers" aria-selected="false">
        <%= t ".trainers" %>
      </a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="subjects" role="tabpanel" aria-labelledby="subjects-tab">
      <%= render partial: "subjects_on_course", local: {subjects: @subjects} %>
    </div>
    <div class="tab-pane fade" id="trainees" role="tabpanel" aria-labelledby="trainees-tab">
      <%= render partial: "trainees_on_course", local: {trainees: @trainees} %>
    </div>
    <div class="tab-pane fade" id="trainers" role="tabpanel" aria-labelledby="trainers-tab">
      <%= render partial: "trainers_on_course", local: {trainers: @trainers} %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= link_to (t ".back"), admin_courses_path, class: "btn btn-primary" %>
    <%= link_to (t ".edit"), edit_admin_course_path, class: "btn btn-primary" %>
    <%= link_to (t ".delete"), admin_course_path, class: "btn btn-primary",
     method: :delete, data: { confirm: "You sure?"} %>
    <%= link_to t("view.admin.course.show.add_user_to_course"),
      new_admin_course_user_courses_path(@course),
    class: "btn btn-primary"%>

  </div>
</div>
